<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LeetcodeHelper</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2e219fd9ac.js"></script>
  </head>
  <body>
    {% load custom_tags %}
    <div class="container">
      <div class="jumbotron">
        <h1>Hi, Welcome to LeetcodeHelper</h1><br>
        <p><b>This website provides an advanced multiple filter for users to get more extensive use of leetcode. You can select
          questions based on whatever condition you want. For example, you can choose questions encountered in
          interviews of companies like Google Amazon, and tags of algorithms used (dp,dfs). You can also sort these questions by conditions like frequency...
          Beyond that, you can also search for some key words or certain ID.</b></p>
      </div>
    </div>

    <!-- Difficulty -->
    <div class="container my-2">
      <a href="/difficulty_filter/Easy" class="btn btn-outline-success
        {% if 'Easy' in difficulty_selected %}
          active
        {% endif %}
        " role="button" aria-pressed="true">Easy</a>
      <a href="/difficulty_filter/Medium" class="btn btn-outline-warning
        {% if 'Medium' in difficulty_selected %}
          text-white active
        {%else%}
          text-orginges
        {% endif %}
      " role="button" aria-pressed="true">Medium</a>
      <a href="/difficulty_filter/Hard" class="btn btn-outline-danger
        {% if 'Hard' in difficulty_selected %}
          active
        {% endif %}
      " role="button" aria-pressed="true">Hard</a>
    </div>

    <!-- Company select -->
    <div class="container">
      <p>
        <button class="btn btn-success my-2" type="button" data-toggle="collapse" data-target="#companys" aria-expanded="false" aria-controls="companys">
          Company
        </button>
      </p>
      <div class="collapse" id="companys">
        <div class="container">
          {% for company in companys %}
          {% if company_selected and company.company_slug in company_selected %}
          <a href="/company_filter/{{company.company_slug}}" class="btn btn-outline-success badge-pill btn-sm active" role="button" aria-pressed="true">{{company.name}}</a>
          {% else %}
          <a href="/company_filter/{{company.company_slug}}" class="btn btn-outline-success badge-pill btn-sm" role="button" aria-pressed="true">{{company.name}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>


    <!-- Algorithm select -->
    <div class="container">
      <p>
        <button class="btn btn-success my-2" type="button" data-toggle="collapse" data-target="#algorithms" aria-expanded="false" aria-controls="algorithms">
          Tag
        </button>
      </p>
      <div class="collapse" id="algorithms">
        <div class="container">
          {% for algorithm in algorithms %}
          {% if algorithm_selected and algorithm.algorithm_slug in algorithm_selected %}
          <a href="/algorithm_filter/{{algorithm.algorithm_slug}}" class="btn btn-outline-success badge-pill btn-sm active" role="button" aria-pressed="true">{{algorithm.name}}</a>
          {% else %}
          <a href="/algorithm_filter/{{algorithm.algorithm_slug}}" class="btn btn-outline-success badge-pill btn-sm" role="button" aria-pressed="true">{{algorithm.name}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>


    <!-- Like and Dislike -->
    <div class="container">
      <div class="dropdown my-2">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Likes&Dislikes (Ratio)
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item {% if like_ratio == 'all' %} active {% endif %}" href="/like_filter/all"> <b>All Questions</b> </a>
          <a class="dropdown-item {% if like_ratio == 'Best' %} active {% endif %}" href="/like_filter/Best"> <b>Best/Classic (>10)</b> </a>
          <a class="dropdown-item {% if like_ratio == 'Excellent' %} active {% endif %}" href="/like_filter/Excellent"> <b>Excellent (10~1)</b> </a>
          <a class="dropdown-item {% if like_ratio == 'Normal' %} active {% endif %}" href="/like_filter/Normal"> <b>Normal(1~0.5)</b> </a>
          <a class="dropdown-item {% if like_ratio == 'CRAZE' %} active {% endif %}" href="/like_filter/CRAZE"> <b>JUST CRAZE ME! (0.5~0.1)</b> </a>
          <a class="dropdown-item {% if like_ratio == 'SHIT' %} active {% endif %}" href="/like_filter/SHIT"> <b>SHIT!(<0.1)</b> </a>
        </div>
      </div>
    </div>


    <!-- Searching -->
    <div class="container">
      <form  action="/" method="post">

        <div class="form-group">
          <label for="searchContent"> <b>Search</b> </label>
          <div class="col-md-6">
            <input type="text" class="form-control" name="search_content" placeholder="ID or Name">
            {% csrf_token %}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>




    <!-- Question detail -->
    <div class="container">
      <table class="table table-hover table-striped my-2">
        <thead>
          <tr>
            <th scope="col"> <a href="/question_sort/id">#</a> </th>
            <th scope="col"> <a href="/question_sort/name">Name</a> </th>
            <th scope="col">Difficulty</th>
            <th scope="col"> <a href="/question_sort/AC">AC Rate</a> </th>
            <th scope="col"> <a href="/question_sort/frequency">Frequency</a> </th>
          </tr>
        </thead>
        <tbody>
          {% for question in questions %}
          <tr>
            <th scope="row">{{question.front_id}}</th>
            <td>
              <a href="/question_detail/{{question.question_slug}}">{{question.name}}</a>
              {% if question.paid_only %}
              <i class="fa fa-unlock"></i>
              {% endif %}
            </td>
            <td>
              {% if question.difficulty == 'Easy' %}
              <span class="badge badge-pill badge-success">Easy</span>
              {% elif question.difficulty == 'Medium' %}
              <span class="badge badge-pill badge-warning text-white">Medium</span>
              {% else %}
              <span class="badge badge-pill badge-danger">Hard</span>
              {% endif %}
            </td>
            <td>{{question.accept_rate}}%</td>
            <td>
              {% if question.frequency <= 20  %}
              <div class="progress" style="width: 100px; margin-top: 5px; margin-bottom: 0px; height: 12px;">
                <div class="progress-bar bg-info rounded" style="width: {{question.frequency}}px;"></div>
              </div>
              {% elif 20 < question.frequency and question.frequency < 60 %}
              <div class="progress" style="width: 100px; margin-top: 5px; margin-bottom: 0px; height: 12px;">
                <div class="progress-bar bg-warning rounded" style="width: {{question.frequency}}px;"></div>
              </div>
              {% else %}
              <div class="progress" style="width: 100px; margin-top: 5px; margin-bottom: 0px; height: 12px;">
                <div class="progress-bar bg-success rounded" style="width: {{question.frequency}}px;"></div>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Pagination -->
      <nav aria-label="...">
        <ul class="pagination">
          {% if questions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}

          {% if questions.number in page_range %}
            {% for page in page_range|get_key:1 %}
              {% if page == questions.number %}
                <li class="page-item disabled active">
                  <a class="page-link" href="#">{{ questions.number }}<span class="sr-only">(current)</span></a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page }}" >{{page}}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.number|add:-2 }}" >{{ questions.number|add:-2 }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.number|add:-1 }}" >{{ questions.number|add:-1 }}</a>
          </li>
          <li class="page-item disabled active">
            <a class="page-link" href="#">{{ questions.number }}<span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.number|add:1 }}" >{{ questions.number|add:1 }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.number|add:2 }}" >{{ questions.number|add:2 }}</a>
          </li>
          {% endif %}



          {% if questions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>

    </div>
  </body>
</html>
